version: "3"

services:
  app:
    build: .
    container_name: notes
    ports:
      - 8070:80
    volumes:
      - .:/var/www/html
      - ./nginx:/etc/nginx/conf.d  # (Certifique-se que o destino termina em conf.d)


